<ng-container *ngIf="beers$ | async as beers">
  <app-query-box></app-query-box>
  <div class="beers">
    <app-beer-card class="beers__card"
                   *ngFor="let beer of beers;trackBy: trackBeersFn"
                   [beerInfo]="beer"
    >
      <img src="{{beer.image_url}}" alt="{{beer.name}}">
      <
      <button class="action-button"
              mat-button
              (click)="toggleFavorite(beer)"
              [color]="beer.isFavorite?'accent':'primary'">
        <mat-icon>favorite</mat-icon>
      </button>
      <button class="action-button"
              (click)="onMoreDetails(beer)"
              mat-button
              color="primary">MORE
      </button>
    </app-beer-card>
    <mat-paginator
      class="beers__paginator mat-elevation-z4"
      (page)="onPageChange($event)"
      [length]="100"
      [pageSize]="perPage"
      aria-label="Select page">
    </mat-paginator>
  </div>
</ng-container>
