.beers {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 2rem;
  gap: 6rem 0;

  &__card {
    width: 40rem;
    height: 25rem;
    margin-inline-start: 6rem;
  }

  &__paginator {
    margin: auto;
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
  }
}

.disabled {
  pointer-events: none;
  opacity: .5;
}

.spinner{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
}
