<ng-container *ngIf="beers$ | async as beers">
  <app-query-box
    [class.disabled]="beersLoading$ | async"
    (onSubmitQuery)="onFoodPairingQuery($event)"
  >
    <mat-label *ngIf="beers.length > 0">Showing results for: <b>{{foodPairingString}}</b></mat-label>
  </app-query-box>
  <app-beers-view
    [beers]="beers"
    [beersPerPage]="perPage"
    (onToggleFavorite)="toggleFavorite($event)"
    (onMoreDetails)="onMoreDetails($event)"
  >
  </app-beers-view>
  <mat-paginator
    #paginator
    class="paginator mat-elevation-z4"
    (page)="onPageChange($event)"
    [length]="100"
    [pageSize]="perPage"
    aria-label="Select page">
  </mat-paginator>
  <mat-spinner class="spinner" *ngIf="beersLoading$ | async"></mat-spinner>
</ng-container>
