
.disabled {
  pointer-events: none;
  opacity: .5;
}

.paginator {
  margin: auto;
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
}

.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
}
