<ng-container *ngIf="beers$ | async as beersData">
  <div class="beers">
    <app-beers-view
      [beers]="beersData.beers"
      [beersPerPage]="perPage"
      (onToggleFavorite)="toggleFavorite($event)"
      (onMoreDetails)="onMoreDetails($event)"
    >
    </app-beers-view>
    <mat-paginator
      #paginator
      class="beers__paginator mat-elevation-z4"
      (page)="onPageChange($event)"
      [length]="100"
      [pageSize]="perPage"
      [pageIndex]="beersData.page - 1"
      aria-label="Select page">
    </mat-paginator>
    <mat-spinner class="beers__spinner" *ngIf="beersLoading$ | async"></mat-spinner>
  </div>
</ng-container>
