:host{
  width: 100%;
}
.form {
  display: flex;
  align-items: baseline;
  min-width: 15rem;
  max-width: 30rem;
  width: 100%;
  margin: auto;

  &__full-width {
    width: 100%;
    padding-bottom: 0;
  }

  &__submit-button{
    width: fit-content;
    height: fit-content;
    box-sizing: content-box;
    margin-left: 1rem;
  }

  &__ng-content{
    margin-left: 1rem;
    flex-shrink: 0;
  }
}
