<mat-toolbar class="nav-bar" color="primary">
  <app-company-logo>
    <span>CYOB</span>
  </app-company-logo>
  <div class="nav-bar__buttons">
    <a mat-button
       class="nav-bar__link"
       [routerLink]="['/beer-selection']"
       routerLinkActive="active-link">Beer Selection</a>
    <a mat-button
       class="nav-bar__link"
       [routerLink]="['/food-pairing']"
       routerLinkActive="active-link">Better Together</a>
    <a mat-button
       class="nav-bar__link"
       [routerLink]="['/favorites']"
       routerLinkActive="active-link">Favorites</a>
  </div>
</mat-toolbar>
