<ng-container *ngIf="beers$ | async as beers">
  <div class="favorite-beers">
    <button *ngIf="beers.length > 1"
            class="favorite-beers__remove-all"
            mat-flat-button
            (click)="clearFavorites()"
            color="warn">Remove All Favorite Beers
    </button>
    <div class="beers">
      <app-beers-view
        [beers]="beers"
        (onToggleFavorite)="removeFromFavorites($event)"
        (onMoreDetails)="onMoreDetails($event)"
      >
      </app-beers-view>
    </div>
  </div>
</ng-container>
