.beers-container {
  display: flex;
  flex-direction: column;

  .beers {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 2rem 0;


    &__card {
      width: 35rem;
      height: 22rem;
      margin-inline-start: 2rem;
    }
  }
}

.no-beer-for-you {
  display: flex;
  justify-content: center;

  img {
    width: 50%;
  }
}
