<div *ngIf="beers.length === 0" class="no-beer-for-you">
  <img src="assets/no_beer_for_you.png">
</div>
<div class="beers-container">
  <div class="beers">
    <app-beer-card class="beers__card"
                   *ngFor="let beer of beers;trackBy: trackBeersFn"
                   [beerInfo]="beer"
    >

      <img src="{{beer.image_url}}" (error)="brokenImageError($event)" alt="{{beer.name}}">
      <div class="action-buttons">
        <button
          mat-button
          (click)="toggleFavorite(beer)"
          [color]="beer.isFavorite?'accent':'primary'">
          <mat-icon>favorite</mat-icon>
        </button>
        <button
          (click)="moreDetails(beer)"
          mat-button
          color="primary">MORE
        </button>
      </div>
    </app-beer-card>
  </div>
</div>
